:root {
	--accent: #4985ff;
	--dark: #323232;
	--grey: #999;
	--light-grey: #e0e0e0;
}
:root {
  --font-family: "Montserrat", sans-serif;
}
.btn {
    border-radius: 30px;
    width: 200px;
    height: 45px;
    box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
    background: var(--accent);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.conteiner {
    max-width: 1115px;
    margin: 0 auto;
    padding: 0 10px;
}
body {
    font-family: "Montserrat", sans-serif;
}
.line{
    border: 1px solid var(--light-grey);
    width: 1110px;
    height: 0px;
}
/* header===================================== */
.header {
    width: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 40px;
    position: absolute;
    top: 0;
    right: 0;
}
.header .conteiner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}
.headerHref {
    margin-right: 40px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

/* header===================================== */
/* hero====================================== */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #344b6b url('../images/Rectangle.png')  no-repeat center/cover;
    color: #fff;
}
.heroSubtitle {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.heroTitle {
    max-width: 829px;
    margin-bottom: 50px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 134%;
    text-align: center;
    cursor: pointer;
}
/* hero====================================== */
/* services================================= */
.services {
    padding: 100px 0;
}
.services .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}
.servicesTitle {
    max-width: 740px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 146%;
    text-align: center;
    color: var(--dark);
}
.servicesSubtitle {
    max-width: 730px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    text-align: center;
    color: var(--grey);
}

.servicesMenu {
    display: flex;
    gap: 27px; 
}

.servicesCard {
    max-width: 353px;
    height: 139px;
    display: flex;
    gap: 18px;
    
}
.servicesCardImg {
    width: 110px;
    height: 110px;
}.serviceImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.servicesCardWrapper {
    margin-top: 40px;
}
.servicesCardTitle {
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: #000;
}
.servicesCardSubtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: var(--grey);
}
/* services===================================== */
/* aboutUs===================================== */
.aboutUs {
    background: #f6f6f8;
    padding: 100px 0 70px 0;
}
.aboutUs .conteiner{
    display: flex;
    flex-direction: column;
}
.aboutUsWrapper {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 90px;
}
.aboutUsText {
    max-width: 489px;
    height: 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aboutUsTitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 146%;
    color: var(--dark)
}
.aboutUsSubtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    color: var(--grey);
}
.aboutUsHref {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--accent);
}
.aboutUsImg {
    border-radius: 30px;
    width: 500px;
    height: 400px;
}
.aboutUsImg .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.aboutUsMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}
.aboutUsNum {
    max-width: 104px;
    height: 67px;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}
.aboutUsNumWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}
.aboutUsNum-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 146%;
    color: #000;
}
.aboutUsNum-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    color: var(--grey);
}
/* aboutUs===================================== */
/* servicesAll================================ */
.allServices {
    padding: 100px 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #504dc2 50%, #ffffff 50%);
}
.allServices .conteiner {
    display: flex;
    flex-direction: column;
}
.allServicesWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.allServicesTitle {
    max-width: 530px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 146%;
    color: #fff;
}
.allServicesBtn {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.allServicesMenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.allServicesCard {
    max-width: 350px;
    height: 544px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.allServicesCard-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
}
.allServicesCard-title span{
    color: var(--accent);
}
.allServicesCard-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    color: var(--grey);
}
.allServicesCard-href {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--accent);
}
/* servicesAll=================================== */
/* allProjects================================== */
.allProjects {
    background: #f6f6f8;
    padding: 100px 0;
}
.allProjects .conteiner {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}
.allProjectsTitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 146%;
    text-align: center;
    color: #000;
}
.allProjectsSubtitle {
    max-width: 670px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    text-align: center;
    color: var(--grey);
}
.allProjectsMenu {
    display: flex; 
    gap: 30px;
}
